[Unit]
Description=Vigilante Discord Bot

[Service]
ExecStart=/home/bots/vigilantebot/vigilantebot/run_discord_bot.py
Restart=always
TimeoutSec=60
User=nobody
Group=nogroup
WorkingDirectory=/home/bots/vigilantebot/vigilantebot

[Install]
WantedBy=multi-user.target